@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600;900&display=swap');
*{margin: 0;}
.wrap{width: 100%}
.box1{
    background-color: #B15232;
    height: 1079px;}
.sbox1{
    width: 1100px;
    height: 1079px;
    margin:0 auto;
    position: relative;}
.sb1-1{
    width: 635px;
    height: 871px;
    position: absolute;
    top: 104px;}
.sb1-2{
    position: absolute;
    right: 20px;
    bottom: 130px;
}
.sb1-3{
    color: white;
    position: absolute;
    top: 104px;
    font-size: 20px;
    right: 20px;
    text-align: right;
    font-family: 'noto serif kr';
    line-height: 29px;
    font-weight: 400;
}
.box2{
    background-color: #FAFAFA;
    height: 1433px;
}
.sbox2{
    width: 1100px;
    height: 1433px;
    position: relative;
    margin: 0 auto;
}
.sb2-1{
    position: absolute;
    width: 264px;
    height: 446.96px;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
}
.sb2-2{
    position: absolute;
    top: 592px;
    color: #6E6E6E;
    font-size: 21px;
    font-family: 'noto serif kr';
    font-weight: 400;
    line-height: 35px;
}
.sb2-3{
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translate(-50%);
}
.box3{
    background-image: url(img/p4-2.png);
    background-position-x: center;
    background-color: #D4D2DA;
    background-repeat: no-repeat;
    height: 652px;
}
.box4{
    background-color: #FAFAFA;
    height: 3276px;
}
.sbox4{
    width: 1100px;
    height: 3276px;
    margin:0 auto;
    position: relative;}
.sb4-1
    {position: absolute;
    top: 109px;
    color: #6E6E6E;
    font-size: 21px;
    font-family: 'noto serif kr';
    font-weight: 400;
    line-height: 30px;
    width: 549px;
    height: 541px;}
.sb4-2
    {position: absolute;
    top: 135px;
    right: 24px;}
.sb4-3
    {position: absolute;
    top: 416px;
    right: 0;}
.sb4-4
    {position: absolute;
    top: 760px;}
.sb4-5
    {position: absolute;
    top: 1584px;
    color: #6E6E6E;
    font-size: 21px;
    font-family: 'noto serif kr';
    font-weight: 400;
    line-height: 30px;}
.sb4-6
    {position: absolute;
    font-family: 'noto serif kr';
    font-weight: 900;
    font-size: 34px;
    top: 1852px;}
.sb4-7
    {position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translate(-50%);}
.sb4-8
    {position: absolute;
    bottom: 536px;
    color: #6E6E6E;
    font-size: 21px;
    font-family: 'noto serif kr';
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.1px;
    width: 592px;
    height: 450px;
    text-align: center;
    left: 50%;
    bottom: 536px;
    transform: translate(-50%);}
.box5{
    background-color: white;
    height: 442px;}
.sbox5
    {width: 1100px;
    height: 442px;
    margin:0 auto;
    position: relative;}
.sb5-1
    {position: absolute;
    top: 135px;
    text-align: center;
    font-size: 23px;
    font-family: 'noto serif kr';
    font-weight: 400;
    line-height: 33px;}
.sb5-2
    {position: absolute;
    width: 313px;
    height: 80px;
    padding: 20px 0px 0px;
    font-size: 21px;
    font-family: 'noto serif kr';
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: black;
    border-radius: 20px;
    border: 1px solid #707070;
    bottom: 50px;
    left: 50%;
    bottom: 65px;
    transform: translate(-50%);}